html, body {
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-image: url("pexels-ready-made-3964574.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    /* text-align: center; */
    /* padding: 200px; */
    border-radius: 10px;
    margin-top: calc(50vh - 250px); /* Adjust the value as needed */
  }
  
  #okButton {
   margin-left: 78px;
    background-color: #4CAF50; /* Set the background color */
    color: white; /* Set the text color */
    padding: 10px 20px; /* Set padding */
    font-size: 16px; /* Set font size */
    border: none; /* Remove border */
    cursor: pointer; /* Add cursor pointer on hover */
    border-radius: 50px;

  }
  
  #okButton:hover {
    background-color: #45a049; /* Change background color on hover */
  }

  .input-label {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px; /* Adjust the value as needed */
  }
  
  .input-field {
    padding: 5px;
    font-size: 18px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
  }
